.form__container{
    padding: 15px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.form__label {
    display: block;
    font-size: 1.4rem;
    margin: 0;
}
.form__input {
    margin: 5px 0px 15px;
}