.container{
    display: flex;
    gap: 5px;
    margin: 25px;
}

.button {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 100%;
    color: gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    border: 1px solid #0075ff;
    color: white;
    background-color: #6cb1ff;

}

.button_active{
    color: white;
    font-weight: bold;
    border: 1px solid #0075ff;
    background-color: #0075ff;
}